<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Tourism Monuments</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#a80000">
    <img src="/images/alfaysal.jpg" width="30" height="30" class="d-inline-block align-top" alt="F">
    &nbsp &nbsp
    <a class="navbar-brand" href="#"><font color="white">Alfaysal Tourism</font></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/home"><font color="white">Home</font><span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/places"><font color="white">Tourism Monuments</font></a>
            <a class="nav-item nav-link" href="/reservation"><font color="white">Reservations</font></a>
            <a class="nav-item nav-link" href="/opinions"><font color="white">Opinions</font></a>
            <a class="nav-item nav-link" href="/evaluation"><font color="white">Evaluation</font></a>
        </div>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Tourism Monuments</h1>
        <p class="lead">This is in the most important tourist attractions that we tour tours to Turkey, if you have any
            opinions or suggestions please write in the field of views that you can move to it from the button below

        </p>
        <p class="lead">
            <a class="btn btn-danger btn-lg" href="/opinions" role="button">Click here</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row mt-8">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/ayasofia.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hagia Sophia</h5>
                    <p class="card-text">was a Greek Orthodox Christian patriarchal basilica (church), later an imperial
                        mosque, and is now a museum (Ayasofya Müzesi) in Istanbul, Turkey. From the date of its
                        construction in 537 AD, and until 1453, it served as an Eastern Orthodox cathedral and seat of
                        the Patriarch of Constantinople, except between 1204 and 1261, when it was converted by the
                        Fourth Crusaders to a Roman Catholic cathedral under the Latin Empire.</p>
                    <a href="https://en.wikipedia.org/wiki/Hagia_Sophia" class="btn btn-danger">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/sultan.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Blue Mosque</h5>
                    <p class="card-text">The Sultan Ahmed Mosque or Sultan Ahmet Mosque is a historic mosque located in
                        Istanbul, Turkey. A popular tourist site, the Sultan Ahmed Mosque continues to function as a
                        mosque today; men still kneel in prayer on the mosque's lush red carpet after the call to
                        prayer. The Blue Mosque, as it is popularly known, was constructed between 1609 and 1616 during
                        the rule of Ahmed I.</p>
                    <a href="https://en.wikipedia.org/wiki/Sultan_Ahmed_Mosque" class="btn btn-danger">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/Maiden.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Maiden's Tower</h5>
                    <p class="card-text">The Maiden's Tower (Turkish: Kız Kulesi), also known as Leander's Tower (Tower
                        of Leandros) since the medieval Byzantine period, is a tower lying on a small islet located at
                        the southern entrance of the Bosphorus strait 200 m (220 yd) from the coast of Üsküdar in
                        Istanbul, Turkey.</p>
                    <a href="https://en.wikipedia.org/wiki/Maiden%27s_Tower" class="btn btn-danger">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/Anadoluhisari.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Anatolian Castle</h5>
                    <p class="card-text">Anadoluhisarı known historically as Güzelce Hisar "the Beauteous Castle" is a
                        medieval fortress located in Istanbul, Turkey on the Anatolian (Asian) side of the Bosporus. The
                        complex is the oldest surviving Turkish architectural structure built in Istanbul, and further
                        gives its name to the neighborhood around it in the city's Beykoz district.</p>
                    <a href="https://en.wikipedia.org/wiki/Anadoluhisar%C4%B1" class="btn btn-danger">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/Topkap.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Topkapı Palace</h5>
                    <p class="card-text">is a large museum in Istanbul, Turkey. In the 15th century, it served as the
                        main residence and administrative headquarters of the Ottoman sultans. Construction began in
                        1459, ordered by Mehmed the Conqueror, six years after the conquest of Constantinople. Topkapı
                        was called the "New Palace" from the Old Palace in Beyazıt Square. </p>
                    <a href="https://en.wikipedia.org/wiki/Topkap%C4%B1_Palace" class="btn btn-danger">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/Emirgan.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Emirgan Park</h5>
                    <p class="card-text">The Emirgan Park (Turkish: Emirgan Korusu or rarely Emirgan Parkı) is a
                        historical urban park located at the Emirgan neighbourhood in the Sarıyer district of Istanbul,
                        Turkey, on the European coast of the Bosphorus. It is one of the largest public parks in
                        Istanbul.</p>
                    <a href="https://en.wikipedia.org/wiki/Emirgan_Park" class="btn btn-danger">learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/murat.JPG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Murat Pasha Mosque</h5>
                    <p class="card-text">The Murat Paşa Mosque is an Ottoman mosque in the Muratpaşa borough of Antalya,
                        Turkey. It was commissioned by Murat Pasha of Karaman (Turkish: Karaman Beyi Murat Paşa) in 1570
                        and is covered with a high dome upon a ten-corner frame, with the inscriptions on its inner
                        walls</p>
                    <a href="https://en.wikipedia.org/wiki/Murat_Pasha_Mosque" class="btn btn-danger">Learn more</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/teres.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Térèse Church</h5>
                    <p class="card-text">The Ankara St. Térèse Church is a Catholic Church in Ankara the capital of
                        Turkey.After the 1917 Great Ankara Fire, it was used as the French Embassy until the move to the
                        new service building from 1928 until 1980. Turks and Armenians lived around the church during
                        the Ottoman Empire.</p>
                    <a href="https://en.wikipedia.org/wiki/St._T%C3%A9r%C3%A8se_Church" class="btn btn-danger">Learn
                        more</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/aziziya.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Konya Aziziye Mosque</h5>
                    <p class="card-text">The original Masjid had been commissioned between 1671 and 1676 by Damat
                        Mustafa Pasha who was the husband of Hatice Sultan, the daughter of sultan Mehmet IV. But when
                        it was ruined as a result of a fire in 1867, it was recommissioned by Pertevniyal, the mother of
                        sultan Abdülaziz in 1874.</p>
                    <a href="https://en.wikipedia.org/wiki/Konya_Aziziye_Mosque" class="btn btn-danger">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>
</html>